body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #fafafa;*/
    color: #333;
    background-image: url('hamster_criminal.jpg'); 
    background-position: center 10%;
}

header {
    background-color: #fff;
    padding: 2em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

main {
    padding: 2em;
    background-color: #fff;
    margin: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

#content ul {
    list-style-type: none;
    padding: 0;
}

#content ul li {
    margin: 0.5em 0;
}

#content ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}

#content ul li a:hover {
    text-decoration: underline;
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #007BFF;
}

form button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}